@import url("https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding@1.3.2/d2coding.css");

@font-face {
    font-family: "D2 coding";
    font-style: normal;
    font-weight: 400;
    src: url("https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding@1.3.2/d2coding.css");
}
@font-face {
    font-family: "D2 coding";
    font-style: normal;
    font-weight: 700;
    src: url("https://cdn.jsdelivr.net/gh/joungkyun/font-d2coding@1.3.2/d2coding.css");
}

.test:hover {
    color: "red";
}
